$color_error: rgb(168, 0, 0);
$color_light_gray: #eeeeee;
$color_white: #fff;
$color_black: #000;
$color_dark_text: rgb(65, 65, 65);
$color_lighter_dark: rgb(107, 107, 107);
$color_blue: rgb(0, 100, 194);
$color_blue_light: rgb(0, 113, 219);
